@import './base';

.Gallery{
    display: flex;
   flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
   overflow-x: hidden !important;

  position: fixed;



    &__heading{
       position: fixed;
       z-index: -4;
       color: $tertiary-color;
       font-size: 25rem;
       top: 20rem;
       left:40%;
        font-weight: 100;
    }

    &__images{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 50%;
  margin: 0;
  padding-top: 1rem;
  background: #abc;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(10rem);
  transform-origin: right top;
  & > img {
    display: block;
    padding: 5px;
    background: #cab;
    transform: rotate(90deg);
    transform-origin: right top;
  }
}


        // .Float{
        //     height: 30rem;
        //     width: 22rem;
        //     margin: 10rem;
        //     transform: rotate(90deg);
        //     transform-origin: right top;
        // }

        // &--1{
        //     top: 0;
        //     right: 0;
        //     height: 30rem;
        //     width: 20rem;
        // }

        // &--2{
        //     top:50%;
        //     left: 50%;
        //     height: 100%;
        //     width: 100%;
        // }


    }
