$white-color: #fff;
$black-color: #2c2c2c;
$primary-color: #F8F7F4;
$secondary-color: #e4e3e3;
$tertiary-color: #C7915f;
$filter-color: #AAAAAA;

@mixin text-prop{
  color: $black-color;
  font-size: 1.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}



body {
  background-color: $primary-color;
  overflow-x: hidden;
  
}

html{
  font-family: 'Karla', sans-serif;
  font-size: 62.5%;
  
}



.container{
  margin: auto;
  padding: 2rem;
  width: 80%;
  overflow: hidden;
}


.loading{
  position: fixed;
  top:0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
}

.overlay{
  width: 100%;
  height: 100%;  
  position: relative;
  top: 0;
  z-index: 999;
  bottom: 0;
  background-color: $black-color;
}

.big_logo{
  font-size: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
   -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: $black-color;
}

.logo_container{
   position: absolute;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
}

header{
  position: relative;
  top: 0;
  z-index: 1;
  
  .logo{
  color: $black-color;
  position: fixed;
  top: 50px;
  text-decoration: none;
  left: 48.3%;
  transform: translate(-50%, -50%);
  letter-spacing: 1rem;
  font-size: 3rem;
  }

nav{
  position: fixed;
  top: 100px;
 
  .list{
  left: 0;
  opacity: 0;
 position: absolute;
  width: auto;
   display: block;

   z-index: 5;
    line-height: 0;
   height: auto;
   list-style: none;
   white-space: nowrap;
   transform-origin: right top;
   transform: translateX(-85%) rotate(-90deg);
    
    .link{
      margin-right: 3rem;
      display: inline-block;
      font-size: 1rem;  
      font-size: 1.2rem; 
      color: $black-color;
      text-transform: uppercase;
      font-weight: 700;
    } 
    
    .link a{
      color: $black-color;
      text-decoration: none;
      letter-spacing: 0.5rem;
    font-weight: lighter;
      
      
    }




  }
}




    .list-right{
      position: fixed;
      right: 15rem;
      top: 5rem;
      z-index: 5;
      list-style: none;
      white-space: nowrap;
      display: block;
      font-size: 1.2rem; 
      line-height: 0;
    
    
      .link{
        display: inline-block;
        margin-right: 3rem;
     
        a{
          color:$white-color;
          letter-spacing: 0.5rem;
          text-transform: uppercase;
          text-decoration: none;
         font-weight: normal;
        }
      }

    
    }

}


.HomePage_Section1{
  position: relative;
  height: 100vh;
  width: 100%;

  .hero_image{
  width: 52.5%;
  height: 100%;
  position: absolute;
  right: 0;
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  object-fit: cover;
  z-index: -3;
  
}

// .image_overlay{
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 100vh;
//   z-index:-1;
//   background-color: $primary-color;
//   width: 50%;
// }

.span_golden{
  color: $tertiary-color;
}


.heading{
  width: 700px;
  font-family: 'vollkorn';
  line-height: 6rem;
  height: 700px;
  .grid{
  display: grid;
  grid-template-columns: repeat(14,50px);
  grid-template-rows: repeat(14,50px);
  justify-items: start;
  align-items: start;

  .behind-overlay{
    background-color: $secondary-color;
    width: 20rem;
    align-items: center;
    justify-items: center;
    height: 20rem;
    display: grid;
    grid-row: 4/5;
    grid-column: 6/8;
  }

    h1{
      display: grid;
      font-size: 5rem;
      grid-column: 7/14;
      grid-row: 6;
      font-weight: bolder;
      color: $black-color;
      }

      .cta-shop{
        display: grid;
        opacity: 0;
        grid-column: 7;
        grid-row: 9;
        justify-self: center;
        margin-top: 3.5rem;
        pointer-events: all;
        
        .button_broken{
        
          width: 8rem;
      
          height: 4rem;
          background-color: transparent;
          border: 1px solid $tertiary-color;
          position: relative;
          top: 0;
          right: -40px;
        }
        
 button{
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    letter-spacing: 0.7rem;
    padding: 1rem 3rem;
    border: none;
    position: absolute;
    background-color: transparent;
    font-size: 2rem;
      }
    }
  }
}


.arrow-down{
  display: grid;
  grid-row: -1;
  grid-column: 8;
img{
  display: grid;
  grid-row: 15;
  width: 90%;
  height: auto;
  transform: rotate(90deg);
  filter: invert(0%) sepia(3%) saturate(1%) hue-rotate(0deg) brightness(100%) contrast(50%);
}  
}

}


.HomePage_Section2{
  height: 100vh;
  margin-top:20rem;
  position: relative;
  top: 0;

  .row{
    display: flex;
    .container{
      display: flex;
      justify-content: space-around;
    }

.images{
  height: 40rem;
  width: 25rem;
}



  img{
    
    object-fit: cover;
  }

  .img-1{
    position: absolute;
    top:0rem;
    height: 50%;
    width: 18%;
    left: 50rem;
    z-index: 3;
  }

  .img-2{
    position: absolute;
    top: 30rem;
    left: 30rem;
    height: 50%;
    width: 18%;
    z-index: 2;
  }

  .text{
    color: $black-color;
    font-size: 1.4rem;
    width: 25%;
    line-height: 2.2rem;
    align-self: flex-end;
  }

  .text::before{
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    background: $black-color;
  }
}

}


.page_image{
   position: relative;
   height: 50vw;
    margin-top: 40rem;
    overflow: hidden;

  .image{
    background-image: url("./image/joeyy-lee-OibaEuEfpeg-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: -3;
    height: 100%;
    position: absolute;
  }

  .image_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .image_content{
    color: black;
    font-size: 6rem;
    display: flex;
    justify-content: center;


      .first_letters{
        display: flex;
        
      }

      .second_letters{
        display: flex;
      
      }


    }
  }
}


      .cart_cross{
        position: absolute;
        top: 2rem;
        right: 8rem;
        height: 2rem;
        width: 2rem;
        color: $black-color;
        font-size: 4rem;
        z-index: 9999;
        display: none;
      }

      .cross_display{
        display: inline-block;
        cursor: pointer;
      }

// .cart{
//   display: none;
// }

.cart{
   z-index: 777;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    
    .overlay_prop{
      position: relative;
      height: 100%;
      width: 100%;
      background: $primary-color;
      
      .cart_heading{
        color: $black-color;
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: 3rem;
      }


      .cart_container{
      
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }

      .cart_footer{
        height: 7rem;
        width: 100%;
        padding: 0 0 0 2rem;
        background-color: $primary-color;
        position: fixed;
        bottom: 0;
        color: $black-color;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;

        h3, a{
          font-size: 2rem;
          font-weight: 400;
        }

        .cart_total{
          flex: 4;
          
        }

        .cart_options{
          background-color: $black-color;
          display: flex;
          flex: 1;
          padding: 2rem 3rem;
          color: $black-color;
          justify-content: center;
          align-items: center;

        }



      }


    }
}


.CartItems{
 @include text-prop;
  display: flex;
  flex-direction: column;
  height: 35rem;
  width: 35rem;
  align-items: flex-start;
  justify-content: space-around;

  .item_image{
      width: 35rem;
      height: 30rem;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

  }


 .item_details{
   display: flex;
   width: 100%;
 
  .item_name{
    flex: 1;
  }



  .item_quantity{
    display: flex;
    justify-content:space-around;
    flex: 1;
  }
 
  }

 

}


.Shop{
  position: relative;
  top: 0;
  width: 100%;
  right: 0;

  .Shop_Section_1{
    position: relative;
    top:0;
    height: 100vh;
    width: 100%;  
    
    img{
      height: 100vh;
      width: 100%;
      object-fit: cover;
    }

    .Shop_Section_1_Text{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12rem;
      font-weight: bolder;
      color: $white-color;
    }


    .arrow{
      width: 3%;
      height: 3%;
      position: absolute;
      bottom: 5rem;
   right: 50%;
        transform: rotate(90deg);
  filter: invert(100%) sepia(3%) saturate(1%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
  }

.Shop_Section_2{
  margin-top: 8rem;

  .Shop_Filter{
    background-color: $filter-color;
    color: $black-color;    
    height: 8rem;
    display: flex;
    justify-content: space-around;  
    }
  }
}

.scroll_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
