$white-color: #fff;
$black-color: #161618;
$primary-color: #C7915F;
$secondary-color: #D29F70;
$tertiary-color: #361B00;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


body {
  background-color: $primary-color;
 overflow-x: hidden;
}

html{
  font-family: 'Karla', sans-serif;
  font-size: 62.5%;
}


.image_overlay{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index:-1;
  background-color: $primary-color;
  width: 50%;
}

.overlay{
  width: 100vw;
  height: 100vh;  
  background-color: $black-color;
}

.container{
   position: absolute;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
  
  .logo{
     -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  transform: matrix(3,0,0,3,0,0);
  color: transparent;
  letter-spacing: 1rem;
  font-size: 3.5rem;
  }
}

header{
nav{
  position: fixed;

  .list{
  top: 100px;
  left: 0;
 position: absolute;
  width: auto;
   display: block;
   font-size: 0;
    line-height: 0;
   height: auto;
   list-style: none;
   white-space: nowrap;
   transform-origin: right top;
   transform: translateX(-85%) rotate(-90deg);
    
    .link{
      margin-right: 3rem;
      display: inline-block;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 700;
    } 
    
    .link a{
      color: $white-color;
      text-decoration: none;
          letter-spacing: 0.5rem;

      
    }




  }
}

.hero_image{
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  object-fit: cover;
  z-index: -3;
  
}


    .list-right{
      position: fixed;
      right: 15rem;
      top: 5rem;
      opacity: 0;
      list-style: none;
      white-space: nowrap;
      display: block;
      font-size: 0;
      line-height: 0;
      font-size: 1.4rem; 
    
      .link{
        display: inline-block;
        margin-right: 3rem;
       
        a{
          color: $white-color;
          letter-spacing: 0.5rem;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 700;
        }
      }

    
    }

}

.heading{
  width: 700px;
  font-family: 'vollkorn';
  line-height: 6rem;
  height: 900px;
  .grid{
  display: grid;
  grid-template-columns: repeat(14,50px);
  grid-template-rows: repeat(14,50px);
  justify-items: start;
  align-items: start;

  .behind-overlay{
    background-color: $secondary-color;
    width: 20rem;
    align-items: center;
    justify-items: center;
    height: 20rem;
    display: grid;
    grid-row: 4/5;
    grid-column: 6/8;
  }

    h1{
      display: grid;
      font-size: 5rem;
      grid-column: 7/14;
      grid-row: 6;
      font-weight: bolder;
      color: $white-color;
      }

      .cta-shop{
        display: grid;
        grid-column: 7;
        grid-row: 9;
        justify-self: center;
        margin-top: 3.5rem;
        pointer-events: all;
        
        .button_broken{
        
          width: 8rem;
          height: 4rem;
          background-color: transparent;
          border: 1px solid $tertiary-color;
          position: relative;
          top: 0;
          right: -40px;
        }
        
        button{
          cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    padding: 1rem 3rem;
    border: none;
    position: absolute;
    z-index: 20;
    background-color: transparent;
    font-size: 2rem;
  }
}
}



}


.arrow-down{
  display: grid;
  grid-row: -1;
  grid-column: 8;
img{
  display: grid;
  grid-row: 15;
  width: 90%;
  height: auto;
  transform: rotate(90deg);
  filter: invert(100%) sepia(3%) saturate(1%) hue-rotate(0deg) brightness(100%) contrast(100%);
}  
}

