@import './base';
@import './animation';
@import './gallery';
@import './mediaQueries';
@import './tab_classes';



body {
  background-color: $primary-color;
  overflow-x: hidden;
}


.container{
  margin: auto;
  padding: 2rem;
  width: 80%;
  overflow: hidden;
}


.loading{
  position: fixed;
  top:0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
}



.overlay{
  width: 100%;
  height: 100%;  
  position: relative;
  top: 0;
  z-index: 999;
  bottom: 0;
  background-color: $black-color;
}


 .link{
      margin-right: 3rem;
      display: inline-block;
      font-size: 1rem;  
      font-size: 1.2rem; 
      color: $black-color;
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none;
    } 
    
    .link a{
      color: $black-color;
      text-decoration: none;
      letter-spacing: 0.5rem;
    font-weight: lighter;
    }

.big_logo{
  font-size: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
   -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: $black-color;
}

.logo_container{
   position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  transition: opacity 0.5s;
   transform: translate(-50%, -50%);
}

.animated_cursor {
      border-style: solid;
      border-color: transparent transparent gray transparent;
      border-width: 0 25px 25px 25px;
      height: 0;
      opacity: 0;
      width: 50px;
      box-sizing: content-box;
      position: relative;
      top: 50%;
      right: 50%;
      margin: 20px 0 40px 0;
}

.animated_cursor::after{
 content: "";
      position: absolute;
      top: 25px;
      left: -25px;
      color: $white-color;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: gray transparent transparent transparent;
      border-width: 60px 50px 0 50px;
}


.span_golden{
  color: $tertiary-color;
}


.animated_cursor--left {
      border-style: solid;
      border-color: transparent transparent gray transparent;
      border-width: 0 25px 25px 25px;
      height: 0;
      opacity: 0;
      width: 50px;
      box-sizing: content-box;
      position: relative;
      margin: 20px 0 40px 0;
}

.animated_cursor--left::before{
  content: "Previous";
  position: absolute;
  font-size: 1.5rem;
  color: $white-color;
  display: block;
  top:100%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}


.animated_cursor--left::after{
 content: "";
      position: absolute;
      top: 25px;
      left: -25px;
     
      color: $white-color;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: gray transparent transparent transparent;
      border-width: 60px 50px 0 50px;
}

.animated_cursor--right {
      border-style: solid;
      border-color: transparent transparent gray transparent;
      border-width: 0 25px 25px 25px;
      height: 0;
      opacity: 0;
      width: 50px;
      box-sizing: content-box;
      position: relative;
      margin: 20px 0 40px 0;
}

.animated_cursor--right::before{
  content: "Next";
  position: absolute;
  font-size: 1.5rem;
  color: $white-color;
  display: block;
  top:100%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}


.animated_cursor--right::after{
 content: "";
      position: absolute;
      top: 25px;
      left: -25px;
     
      color: $white-color;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: gray transparent transparent transparent;
      border-width: 60px 50px 0 50px;
}



header{
  position: relative;
  top: 0;
  z-index: 1;
  
  .logo{
  color: $black-color;
  position: absolute;
  top: 50px;
  display: block;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.5s;
  text-decoration: none;
  left: 48.3%;
  transform: translate(-50%, -50%);
  letter-spacing: 1rem;
  font-size: 3rem;
  }

nav{
  position: fixed;
  top: 100px;
 
  .list{
  left: 0;
  opacity: 0;
 position: absolute;
  width: auto;
   display: block;

   z-index: 5;
    line-height: 0;
   height: auto;
   list-style: none;
   white-space: nowrap;
   transform-origin: right top;
   transform: translateX(-85%) rotate(-90deg);
      }
}




    .list-right{
      position: fixed;
      right: 15rem;
      top: 5rem;
      z-index: 5;
      list-style: none;
      white-space: nowrap;
      display: block;
      font-size: 1.2rem; 
      line-height: 0;
    
    
      .link{
        display: inline-block;
        margin-right: 3rem;
     
        a{
          color:$black-color;
          letter-spacing: 0.5rem;
          text-transform: uppercase;
          text-decoration: none;
         font-weight: normal;
         transition: opacity 0.5s;
        }
      }
    }
}


.Homepage_section1{
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;

.hero{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text-container{
    position: relative;
    top:0;
    width: 40rem;
    height: 50rem;
  }

    &_image{
  height: 100%;
  position: absolute;
  right: 0;
 width: 40%;
  transform-origin: top center;
  will-change: transform;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -3;
}


  &__overlay{
    height: 15rem;
    width: 15rem;
    background: $secondary-color;
    position: relative;
    top: 20%;
  }

  &__text{
    font-size: 2rem;
     font-family: 'vollkorn';
    width: 100%;
    color: $black-color;
    position: relative;
    top: 0%;
    margin-left: 2rem;
    
    h1{
      font-weight: 400;  
    }

  }

   
}



 .cta-shop{
   position: relative;
   top: 0;
        pointer-events: all;
        .button_broken{
          width: 20%;
          height: 4rem;
          background-color: transparent;
          border: 1px solid $tertiary-color;
          position: relative;
          top: 0;
          
        }

        .button_center{
          position: absolute;
          top: 0;
          font-size: 1.8rem;
          letter-spacing: 1rem;
          padding: 1rem;
          padding-right: 0;
         
        }
}
 
        
 button{
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    letter-spacing: 0.7rem;
    padding: 1rem 3rem;
    border: none;
    position: absolute;
    background-color: transparent;
    font-size: 2rem;
      }

.arrow-down{

img{
  position: absolute;
  bottom: 2rem;
  left: 30%;
  width: 3%;
  transform: rotate(90deg);
  -webkit-filter: invert(0%) sepia(3%) saturate(1%) hue-rotate(0deg) brightness(100%) contrast(50%);
          filter: invert(0%) sepia(3%) saturate(1%) hue-rotate(0deg) brightness(100%) contrast(50%);
}  
}

}


.Homepage_section2{
  
  margin-top:20rem;
  position: relative;
  top: 0;

  .row{
    display: flex;
    justify-content: space-around;
    align-items: center;


.images{
  display: grid;
  grid-template-columns: 1fr;

.img-1{
      grid-column: 2 /span 2;
    grid-row: 1/span 2;
  }

  
  img{ 
    -o-object-fit: cover; 
       object-fit: cover;
       height: 35rem;
   width: 25rem;
  }


  
  .img-2{
 

  grid-column: 1 /span 2;
    grid-row: 2/span 2;
  }

}

  



  .text{
    color: $black-color;
    font-size: 1.8rem;
    width: 30rem;
    margin-right: 5rem;
    line-height: 2.5rem;
    
  }

  .text::before{
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    background: $black-color;
  }
}

}


.page_image{
   position: relative;
   height: 150vh;
    margin-top: 30rem;
    top: 0;
    overflow: hidden;

  .image{
    background-image: url("./image/fullPageEdited.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: 100%;
    z-index: -3;
    display: block;
    will-change: transform;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    transform-origin: top center;
    height: 150vh;
    position: relative;
  }

  .image_container{
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    .image_content{
    color: $white-color;
    font-size: 3.5rem;
  }
  }
}


      .cart_cross{
        position: absolute;
        top: 2rem;
        right: 8rem;
        height: 2rem;
        width: 2rem;
        color: $black-color;
        font-size: 4rem;
        z-index: 9999;
        display: none;
      }

      .cross_display{
        display: inline-block;
        cursor: pointer;
      }

// .cart{
//   display: none;
// }

.cart{
   z-index: 777;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    
    .overlay_prop{
      position: relative;
      height: 100%;
      width: 100%;
      background: $primary-color;
      
      .cart_heading{
        color: $black-color;
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: 3rem;
      }


      .cart_container{
      
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }

      .cart_footer{
        height: 7rem;
        width: 100%;

        background-color: $white-color;
        position: fixed;
        bottom: 0;
        color: $black-color;
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;

        h3, a{
          font-size: 2rem;
          font-weight: 400;
        }

        .cart_total{
          flex: 4;
          color: $white-color;
          background-color: #2c2c2c;
          padding: 2rem; 
        }

        .cart_options{
           flex: 1;
          background-color: $white-color;

&--checkout{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-size: 1.8rem;
  align-self: center;
  text-decoration: none;
  color: $black-color;
  position: relative;
  background: $black-color;
  transition: all .35s;


&:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white-color;
  transition: all .35s;
}

&:hover{
  background: $black-color;
  color: $white-color;
}

&:hover:after{
  height: 0%;
}



  & label{
    position: relative;
    z-index: 999;
  }
}






        }
      }
    }
}


.CartItems{
 @include text-prop;
  display: flex;
  flex-direction: column;
  height: 35rem;
  width: 35rem;
  align-items: flex-start;
  justify-content: space-around;

  .item_image{
      width: 35rem;
      height: 30rem;

      img{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
      }

  }


 .item_details{
   display: flex;
   width: 100%;
 
  .item_name{
    flex: 1;
  }



  .item_quantity{
    display: flex;
    justify-content:space-around;
    flex: 1;
  }
 
  }

 

}


.Shop{
  position: relative;
  top: 0;
  width: 100%;
  right: 0;

  .Shop_Section_1{
    position: relative;
    top:0;
    height: 100vh;
    width: 100%;  
    
    img{
      height: 100vh;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
    }

    .Shop_Section_1_Text{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12rem;
      font-weight: bolder;
      color: $white-color;
    }


    .arrow{
      width: 3%;
      height: 3%;
      position: absolute;
      bottom: 5rem;
   right: 50%;
        transform: rotate(90deg);
  -webkit-filter: invert(100%) sepia(3%) saturate(1%) hue-rotate(0deg) brightness(100%) contrast(100%);
          filter: invert(100%) sepia(3%) saturate(1%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
  }

.Shop_Section_2{
  margin-top: 8rem;

  .Shop_Filter{
    background-color: $filter-color;
    color: $black-color;    
    height: 8rem;
    display: flex;
    justify-content: space-around;  
    }
  }
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}

.scroll_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.hide-large{
  display: none;
}


.Homepage_section4{
  height: 100vh;
  width: 100%;
  margin-top:30rem;
  position: relative;
  top: 0;
  margin-bottom: 5rem;

  &--text{
    color: $tertiary-color;
    position: relative;
    top: 50%;
    left:50%;
    width: 100%;
   text-align: center;
   word-spacing: 2rem;
   letter-spacing: 1rem;
    font-size: 5rem;
    transform: translate(-50%, -50%);
  }

  &--images{
    position: relative;
    top:0;
    height: 100vh;
    .image--1 {
      height: 40rem;
      position: absolute;
      top: 0%;
      left: 18rem;
    }

    .image--2 {
      height: 40rem;
      position: relative;
      top: 50%;
      z-index: -2;
      left: 40%;
    }

    .image--3 {
      position: absolute;
      height: 40rem;
      top: 18%;
      right: 10%;
      z-index: -2;
    }

  }

}

.Homepage_section5{
  position: relative;
  height: 200vh;
  width: 100%;
  top: 0;
  margin-top: 20rem;


.slider__right--background{
        background-color: $white-color;
        position: absolute;
        right: 0;
        width: 50%;
        height: 100vh;
        z-index: -3;
      }


  .slider{
    display: flex;
    justify-content: center;
    position: relative;
    top: 7.5%;
    width: 80%;
    margin:auto;
    align-items: center;

    &__left{
      padding: 7rem 8rem 7rem 20rem;
      &--carousel{
        img{
          height: 26.7rem;
          width: 33.3rem;
          position: relative;
          z-index: -1;
        }
      }
    }

    &__right{
      width: 50%;
      height: 100%;
      padding: 0 6rem;
      

        &--carousel{
          img{
            height: 100%;
            position: relative;
            z-index: -1;
            width: 100%;
          }
        }
    }
  }
}



